/*import external css files*/
@import url("header.css");
@import url("contact.css");
@import url("footer.css");
@import url("blog.css");
@import url("about.css");

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "nav main main"
    "footer footer footer";
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.main {
  grid-area: main;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
}

.section {
  background-color: #f2f2f2;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.post-card {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.section-image{
    width: 100px;
    height: 100px;
    background: url('images/fish.jpg');
    margin-right: 10px;
}

.post-card img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

.caption {
    flex: 1;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #066152;
    color: #fff;
    text-decoration: none;
}
h2{
  text-align: center;
  color: #066152;
}
#article_date{
  text-align: center;
  text-decoration: underline;
}